In [188]:
import pandas as pd
import os
import numpy as np

# Import the data using the file path
data_path = ['C:\IntelPython3\projects']
filepath = os.sep.join(data_path + ['Ames_Housing_Sales.csv'])
data = pd.read_csv(filepath, sep=',')

In [189]:
stringcolumns=data.select_dtypes(include=[object])
data=data.drop(columns=stringcolumns.columns)

In [190]:
data.head()
actualdata=data
actualdata

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,OverallQual,PoolArea,ScreenPorch,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
0,856.0,854.0,0.0,3,706.0,0.0,1,0,150.0,0.0,...,7,0.0,0.0,8,856.0,0.0,2003,2003,2008,208500.0
1,1262.0,0.0,0.0,3,978.0,0.0,0,1,284.0,0.0,...,6,0.0,0.0,6,1262.0,298.0,1976,1976,2007,181500.0
2,920.0,866.0,0.0,3,486.0,0.0,1,0,434.0,0.0,...,7,0.0,0.0,6,920.0,0.0,2001,2002,2008,223500.0
3,961.0,756.0,0.0,3,216.0,0.0,1,0,540.0,272.0,...,7,0.0,0.0,7,756.0,0.0,1915,1970,2006,140000.0
4,1145.0,1053.0,0.0,4,655.0,0.0,1,0,490.0,0.0,...,8,0.0,0.0,9,1145.0,192.0,2000,2000,2008,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,953.0,694.0,0.0,3,0.0,0.0,0,0,953.0,0.0,...,6,0.0,0.0,7,953.0,0.0,1999,2000,2007,175000.0
1375,2073.0,0.0,0.0,3,790.0,163.0,1,0,589.0,0.0,...,6,0.0,0.0,7,1542.0,349.0,1978,1988,2010,210000.0
1376,1188.0,1152.0,0.0,4,275.0,0.0,0,0,877.0,0.0,...,7,0.0,0.0,9,1152.0,0.0,1941,2006,2010,266500.0
1377,1078.0,0.0,0.0,2,49.0,1029.0,1,0,0.0,112.0,...,5,0.0,0.0,5,1078.0,366.0,1950,1996,2010,142125.0
1378,1256.0,0.0,0.0,3,830.0,290.0,1,0,136.0,0.0,...,5,0.0,0.0,6,1256.0,736.0,1965,1965,2008,147500.0

In [191]:
newrow=data.head(1)
data=data.drop([0])
newrow

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,OverallQual,PoolArea,ScreenPorch,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
0,856.0,854.0,0.0,3,706.0,0.0,1,0,150.0,0.0,...,7,0.0,0.0,8,856.0,0.0,2003,2003,2008,208500.0

In [192]:
from sklearn.preprocessing import MinMaxScaler

msc = MinMaxScaler()

data = pd.DataFrame(msc.fit_transform(data),  # this is an np.array, not a dataframe.
                    columns=data.columns)
data.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,OverallQual,PoolArea,ScreenPorch,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
0,0.193700,0.000000,0.000000,0.500000,0.173281,0.0,0.0,0.5,0.121575,0.000000,...,0.500,0.0,0.0,0.333333,0.206547,0.347725,0.738462,0.433333,0.25,0.203128
1,0.113305,0.419370,0.000000,0.500000,0.086109,0.0,0.5,0.0,0.185788,0.000000,...,0.625,0.0,0.0,0.333333,0.150573,0.000000,0.930769,0.866667,0.50,0.261487
2,0.122943,0.366102,0.000000,0.500000,0.038271,0.0,0.5,0.0,0.231164,0.492754,...,0.625,0.0,0.0,0.444444,0.123732,0.000000,0.269231,0.333333,0.00,0.145464
3,0.166197,0.509927,0.000000,0.666667,0.116052,0.0,0.5,0.0,0.209760,0.000000,...,0.750,0.0,0.0,0.666667,0.187398,0.224037,0.923077,0.833333,0.50,0.298308
4,0.084156,0.274092,0.629921,0.166667,0.129695,0.0,0.5,0.0,0.027397,0.000000,...,0.375,0.0,0.0,0.222222,0.130278,0.046674,0.869231,0.750000,0.75,0.149633

In [193]:
data.head()
featuerecols=[i for i in newrow.columns if i!='SalePrice']
X_newrow=newrow[featuerecols]
actual_precdict = newrow['SalePrice']
actual_precdict
lab_enc = preprocessing.LabelEncoder()
lab_enc.fit_transform(actual_precdict)
newrow

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,OverallQual,PoolArea,ScreenPorch,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
0,856.0,854.0,0.0,3,706.0,0.0,1,0,150.0,0.0,...,7,0.0,0.0,8,856.0,0.0,2003,2003,2008,208500.0

In [203]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
import numpy as np

X=[i for i in data.columns if i!='SalePrice']

X_data=data[X]
Y_data=data['SalePrice']
Y_data
lab_enc = preprocessing.LabelEncoder()
y_data_encoded = lab_enc.fit_transform(Y_data)
knn = KNeighborsClassifier(n_neighbors = 11)
# Fit the classifier to the data
knn_model = knn.fit(X_data,y_data_encoded)
Y_modelpredict=knn_model.predict(X_newrow)
Y_predict=knn_model.predict(X_data)
Y_modelpredict=lab_enc.inverse_transform(Y_modelpredict)
Y_predict=lab_enc.inverse_transform(Y_predict)
Y_predict,Y_modelpredict

(array([0.15658013, 0.21285444, 0.14546422, ..., 0.17464349, 0.16491707,
        0.11753549]),
 array([0.173254]))

In [204]:
def accuracy(real, predict):
    return sum(real == predict) / float(real.shape[0])

In [205]:
accuracy(Y_data,Y_predict)

0.08853410740203194