In [1]:
import pandas as pd
import os
import numpy as np

# Import the data using the file path
data_path = ['C:\IntelPython3\projects']
filepath = os.sep.join(data_path + ['Ames_Housing_Sales.csv'])
data = pd.read_csv(filepath, sep=',')
data.shape

(1379, 80)

In [ ]:
dataframe=data.select_dtypes(include=[object])
print(dataframe.shape)
newdf=data.copy()
newdf=newdf.drop(columns=dataframe.columns)
dataframe=pd.get_dummies(dataframe)
#newdf.append(dataframe)
stackdata = pd.concat([newdf,dataframe], axis=1)
stackdata.shape

In [4]:
from sklearn.neighbors import KNeighborsClassifier

In [215]:
newdf.columns

Index(['1stFlrSF', '2ndFlrSF', '3SsnPorch', 'BedroomAbvGr', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtFullBath', 'BsmtHalfBath', 'BsmtUnfSF',
       'EnclosedPorch', 'Fireplaces', 'FullBath', 'GarageArea', 'GarageCars',
       'GarageYrBlt', 'GrLivArea', 'HalfBath', 'KitchenAbvGr', 'LotArea',
       'LotFrontage', 'LowQualFinSF', 'MSSubClass', 'MasVnrArea', 'MiscVal',
       'MoSold', 'OpenPorchSF', 'OverallCond', 'OverallQual', 'PoolArea',
       'ScreenPorch', 'TotRmsAbvGrd', 'TotalBsmtSF', 'WoodDeckSF', 'YearBuilt',
       'YearRemodAdd', 'YrSold', 'SalePrice'],
      dtype='object')

In [264]:
#for i in newdf.columns :
 #   if i!='SalePrice':
  #      print(newdf[i])
stackdata.shape
data.tail()

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BldgType,BsmtCond,BsmtExposure,BsmtFinSF1,BsmtFinSF2,...,ScreenPorch,Street,TotRmsAbvGrd,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
1374,953.0,694.0,0.0,None,3,1Fam,None,None,0.0,0.0,...,0.0,Pave,7,953.0,AllPub,0.0,1999,2000,2007,175000.0
1375,2073.0,0.0,0.0,None,3,1Fam,TA,No,790.0,163.0,...,0.0,Pave,7,1542.0,AllPub,349.0,1978,1988,2010,210000.0
1376,1188.0,1152.0,0.0,None,4,1Fam,Gd,No,275.0,0.0,...,0.0,Pave,9,1152.0,AllPub,0.0,1941,2006,2010,266500.0
1377,1078.0,0.0,0.0,None,2,1Fam,TA,Mn,49.0,1029.0,...,0.0,Pave,5,1078.0,AllPub,366.0,1950,1996,2010,142125.0
1378,1256.0,0.0,0.0,None,3,1Fam,TA,No,830.0,290.0,...,0.0,Pave,6,1256.0,AllPub,736.0,1965,1965,2008,147500.0

## Linear regression
* questions

In [236]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

X=[i for i in newdf.columns if i!='SalePrice']
X_data=data[X]
Y_data=data['SalePrice']
#knn=StdSc.fit(X_data)
X_train,X_test,Y_train,Y_test = train_test_split(X_data,Y_data, test_size=0.3,random_state=42)

In [293]:
from sklearn.neighbors import KNeighborsClassifier
# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors = 3)
# Fit the classifier to the data
knn.fit(X_train,Y_train)
knn.predict(X_test)
X_test.tail()

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,OverallCond,OverallQual,PoolArea,ScreenPorch,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
942,1077.0,0.0,0.0,3,0.0,0.0,0,0,1007.0,48.0,...,4,3,0.0,0.0,6,1007.0,0.0,1922,1950,2006
59,581.0,530.0,0.0,3,0.0,0.0,0,0,530.0,144.0,...,7,5,0.0,0.0,6,530.0,0.0,1920,1996,2007
405,1412.0,0.0,0.0,3,1005.0,0.0,1,0,387.0,169.0,...,5,6,0.0,0.0,6,1392.0,0.0,1988,1988,2009
458,1073.0,0.0,0.0,3,836.0,0.0,1,0,237.0,0.0,...,7,5,0.0,0.0,6,1073.0,0.0,1965,1965,2007
1300,984.0,620.0,0.0,3,408.0,420.0,0,0,156.0,0.0,...,5,5,0.0,0.0,6,984.0,0.0,1941,1960,2009

In [1]:
a=knn.predict(X_test)
a

NameError: name 'knn' is not defined

In [2]:
from sklearn.linear_model import LinearRegression
LR= LinearRegression()
LR_model= LR.fit(X_train, Y_train)
y_predict= LR_model.predict(X_test)
y_predict

NameError: name 'X_train' is not defined